# Set to random value:
# openssl rand -base64 24
# https://docs.djangoproject.com/en/6.0/ref/settings/#secret-key
SECRET_KEY=

# Set the website from which this instance is served: wms.example.com
# Can be left empty if running with DEBUG=1
# https://docs.djangoproject.com/en/6.0/ref/settings/#allowed-hosts
DJANGO_ALLOWED_HOSTS=

# Set to the website from which unsafe requests, like POST, are allowed
# https://docs.djangoproject.com/en/6.0/ref/settings/#csrf-trusted-origins
CSRF_TRUSTED_ORIGINS=http://localhost:8567

# Set password here
# https://docs.djangoproject.com/en/6.0/ref/django-admin/#createsuperuser
DJANGO_SUPERUSER_PASSWORD=

# If running in dev mode uncomment this
# https://docs.djangoproject.com/en/6.0/ref/settings/#std-setting-DEBUG
# DEBUG=true

# Database location can be changed
#SQL_DATABASE=/app/data/.sqlite3
