SECRET_KEY=change_me_secret_key
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.sqlite3
SQL_DATABASE=/app/data/db.sqlite3
DATABASE=sqlite3
CSRF_TRUSTED_ORIGINS=http://localhost:8567
DB_DIR=/app/data
