# Set to random value:
# openssl rand -base64 24
SECRET_KEY=

# Set the website from which this instance is served: wms.example.com
# Can be left empty if running with DEBUG=1
DJANGO_ALLOWED_HOSTS=

# Set to the website from which unsafe requests, like POST, are allowed
CSRF_TRUSTED_ORIGINS=http://localhost:8567

# Set password here
DJANGO_SUPERUSER_PASSWORD=

# If running in dev mode uncomment this
# DEBUG=true

# Database location can be changed
#SQL_DATABASE=/app/data/.sqlite3
