{% extends "hub/header.html" %}

{% block content %}

{% include "hub/modules/search.html" with type="warehouse" %}

<div class="fixed-bottom  m-3">
    {% include "hub/modules/plus.html" with name="warehouse" %}
    {% include "hub/modules/minus.html" with name="warehouse" %}
</div>

{% include "hub/modules/form_modal.html" with add="Lager Hinzufügen" action="/manage/" name="warehouse" forms=form %}
{% include "hub/modules/delete_modal.html" with name="warehouse" %}

{% endblock %}

