{% extends "hub/header.html" %}

{% load static %}

{% block content %}

<input id='scan' placeholder="search" class="form-control">

{% include "hub/modules/scanner.html" with input="scan" move="true" %}

<div class="fixed-bottom m-3">
    <div class="btn-group float-end" role="group">
        <input type="radio" class="btn-check" name="options-outlined" id="store" autocomplete="off" checked>
        <label class="btn btn-outline-success" for="store"><img style="width:60px" src="{% static 'hub/symbols/Store.svg' %}"></label>

        <input type="radio" class="btn-check" name="options-outlined" id="remove" autocomplete="off">
        <label class="btn btn-outline-danger" for="remove"><img style="width:60px" src="{% static 'hub/symbols/Remove.svg' %}"></label>
    </div>
</div>


<form method="POST" action="./store/" id="storeForm">
    {% csrf_token %}
    <div id="storeFormArticle">
    </div>
    <div id="storeFormStorage">
    </div>
</form>

<form method="POST" action="./remove/" id="removeForm">
    {% csrf_token %}
    <div id="removeFormArticle">
    </div>
</form>

<script>
    var backLog = []
    var actionBuffer = {article:[], storage:""}
    var articleBuffer = []
    var storageBuffer = []
    var scanBuffer

    function checkForErrors(data){
        if(data.error == ""){
            console.log(data)
            choseDirection(data)
        }
        else{
            $(".toast-container").append(data.errorToast);
        };
    };

    function choseDirection(data){
        if($("#store").is(":checked")){
            storeArticle(data);
        }
        else{
            removeArticle(data);
        };
    };

    function storeArticle(data){
        if(data.space && articleBuffer.length > 0 ){
            storageBuffer = []
            storageBuffer.push(data)
            $("#storeFormStorage").html('<input type="text" name="storageName" value="' + data.name + '"><input type="hidden" name="storageCode" value="' + data.code + '">')
        }else if(data.storable){
            articleBuffer.push(data)
            $("#storeFormArticle").append('<input type="text" name="articleName' + articleBuffer.length + '" value="' + data.name + '"><input type="hidden" name="articleCode' + articleBuffer.length + '" value="' + data.code + '">')
        }

        console.log(articleBuffer.length)
        console.log(storageBuffer.length)
        console.log("-------------------")

        if(articleBuffer.length > 0 && storageBuffer.length == 1){

            var form = $("#storeForm");
            var actionUrl = form.attr('action');

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function(data1)
                {
                    $(".toast-container").append(data1);
                }
            });
            clearBuffer();
        }
    };

    function removeArticle(data){
        if(data.storable){

            articleBuffer.push(data)
            $("#removeFormArticle").append('<input type="text" name="articleName' + articleBuffer.length + '" value="' + data.name + '"><input type="hidden" name="articleCode' + articleBuffer.length + '" value="' + data.code + '">')

            var form = $("#removeForm");
            var actionUrl = form.attr('action');
            console.log(actionUrl)

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: form.serialize(), // serializes the form's elements.
                success: function(data1)
                {
                    $(".toast-container").append(data1);

                }
            });

            clearBuffer()

        }
    };

    function clearBuffer(){
        $("#storeFormArticle").html("")
        $("#storeFormStorage").html("")
        $("#removeFormArticle").html("")
        articleBuffer = []
        storageBuffer = []
        scanBuffer = ""
    }


    function lResults(search){
         
        if(scanBuffer != search){
            scanBuffer = search;

            var bufferElement = {code:search};

            $.get(`/movement/request?code=${search}`, function(data){
                checkForErrors(data);
            });
        };
    };


    $("#store").change(function(){clearBuffer()})
    $("#remove").change(function(){clearBuffer()})

    $("#results").load(lResults(""));
    $("#scan").on("input", function(){
        lResults($('#scan').val())
    });

</script>

{% endblock %}
