

<div class="modal fade" id="add{{ name }}" tabindex="-1" aria-labelledby="add{{name}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLocationLabel">{{ add }}</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="{{ action }}{{name}}">
                    {% csrf_token %}

                        {% for form in m_form %}


                            {% for field in form %}
                                <div class="form-floating mb-3">
                                    {{ field.error }}
                                    {{ field }}
                                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                </div>
                            {% endfor %}


                        {% endfor %}

                    <button type="submit" class="btn btn-success" name="add">Hinzufügen</button>
                </form>
            </div>
        </div>
    </div>
</div>
