<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'hub/bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'hub/bootstrap/js/popper.min.js' %}"></script>
        <script src="{% static 'hub/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'hub/jquery/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'hub/qrcodescanner/html5-qrcode.min.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="p-2">
                <input class="btn btn-outline-primary" style="width:50px"value="<-">
            </div>

            <div class="p-2">
                {% block indicator %}
                {% endblock %}
            </div>

            <div class="p-2">
                <div class="dropdown">
                    <button class="btn btn-outline-primary" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        ---
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Einstellunge</a></li>
                        <li><a class="dropdown-item" href="#">Admin</a></li>
                    </ul>
                </div>
            </div>

        </div>

        {% block content %}

        {% endblock %}

    </body>

</html>
