<!DOCTYPE html>
<html>
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'hub/bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'hub/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'hub/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'hub/qrcodescanner/html5-qrcode.min.js' %}"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>

        <div aria-live="polite" aria-atomic="true" class="position-relative">
            <div class="toast-container top-0 end-0 p-3">


            </div>
        </div>

        <nav class="navbar sticky-top bg-light">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="offcanvas offcanvas-start" id="navbarScroll">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close position-relativ top-0 end-0" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav text-right">
                        <a class="nav-link" href="#">Link</a>
                    </ul>
                </div>
                </div>

                <a class="navbar-brand" href="#">
                    {% if symbol == None %}
                    <img style="width:100px" src="{% static 'hub/SVG/Logo.svg' %}">
                    {% else %}
                    <img style="width:100px" src="{% static 'hub/SVG/'|add:symbol|add:'.svg' %}">
                    {% endif %}
                </a>
                
                <button class="btn btn-outline-primary"> 
                    <--
                </button>

            </div>
        </nav>
        
        <div class="container-fluid">
        {% block content %}

        {% endblock %}
        </div>

    </body>

</html>
