{% extends "hub/header.html" %}

{% block content %}

    {% block cards %}


    {% endblock %}

<div class="position-absolute bottom-0 end-0 m-3">
    <button type="button" class="btn btn-success btn-lg" data-bs-toggle="modal" data-bs-target="#addLocation">+</button>
</div>


<div class="modal fade" id="addLocation" tabindex="-1" aria-labelledby="addLocation" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addLocationLabel">{{add}}</h5>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% block form_header %}{% endblock %}">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-floating mb-3">
                            {{ field.error }}
                            {{ field }}
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-success" name="add">Hinzufügen</button>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}
