{% extends "hub/header.html" %}

{% block content %}

{% for part in list %}
<div class="container overflow-hidden">
    <div class="card">
        <div class="card-body">

            <p class="card-text">
                {{part.traditional_city}}
            </p>
        </div>
    </div>
</div>
{% endfor %}

{% include "hub/modal_button/plus.html" with name="location" %}

{% include "hub/form_modal.html" with add="Standort Hinzufügen" action="/manage/" name="location" m_form=form %}

{% endblock %}


