{% extends "hub/header.html" %}

{% block content %}

<a  href="location">
<div class="card" style="width: 18rem;" >
    <div class="card-body stretched-link" >
        <h5 class="card-title">Standorte</h5>
    </div>
</div>
</a>


<a  href="warehouse">
<div class="card" style="width: 18rem;" >
    <div class="card-body">
        <h5 class="card-title">Wahrenhäuser</h5>
    </div>
</div>
</a>


<a  href="storage">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Lager</h5>
    </div>
</div>
</a>

<a  href="shelf">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Regale</h5>
    </div>
</div>
</a>

<a  href="compartment">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Faecher</h5>
    </div>
</div>
</a>

<a  href="part">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Teile</h5>
    </div>
</div>
</a>


<a  href="tag">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Tags</h5>
    </div>
</div>
</a>


{% endblock %}
