{% extends "hub/header.html" %}

{% block content %}

<a  href="location">
<div class="card" style="width: 18rem;" >
    <div class="card-body stretched-link" >
        <h5 class="card-title">Standorte</h5>
    </div>
</div>
</a>



<a  href="location">
<div class="card" style="width: 18rem;" >
    <div class="card-body">
        <h5 class="card-title">Wahrenhäuser</h5>
    </div>
</div>
</a>


<a  href="location">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Lager</h5>
    </div>
</div>
</a>


<a  href="part">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Teile</h5>
    </div>
</div>
</a>


<a  href="location">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Geräte</h5>
    </div>
</div>
</a>


<a  href="tag">
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Tag</h5>
    </div>
</div>
</a>


{% endblock %}
