
<div class="container-sm position-relative" id="scanner{{input}}">
    <div id="reader{{input}}"></div>
    <style>
        #reader{{input}} video {
           aspect-ratio: 1;
           object-fit: cover;
        }
    </style>
    <div id="Buttons{{input}}" class="position-absolute bottom-0 end-0 translate-middle"></div>
</div>

<script>

    function onScanSuccess{{inputF}}(decodedText, decodedResult) {
        if(decodedResult.result.format.formatName == "QR_CODE"){
            {% if move == 'true' %}
            lResults(decodedText);
            console.log(decodedText);
            $("#{{input}}").val(decodedText);
            {% else %}
            $("#{{input}}").val(decodedText);
            html5QrcodeScanner{{inputF}}.pause();
            html5QrcodeScanner{{inputF}}.clear();
            htmx.trigger("#{{input}}", "refresh", {});
            htmx.trigger("#QRButton{{input}}", "refresh", {});
            {% endif %}

        }
    }

    function flipCamera{{inputF}}(lastDevice){
        html5QrcodeScanner{{inputF}}.stop().then(function () {
            if (cameras.length-1 == lastDevice){
                var cameraId = cameras[0].id;
                newDevice = 0
            }else{
                var cameraId = cameras[lastDevice+1].id;
                newDevice = lastDevice+1
            }
            html5QrcodeScanner{{inputF}}.start(
                cameraId,
                {
                    fps: 10,
                    qrbox: 250,
                    aspectRatio: 1.0,
                },
                onScanSuccess{{inputF}},
            );
            
            $("#flipCamera{{input}}id").remove();
            $("#Buttons{{input}}").append("<button type=\"button\" class=\"btn btn-primary\" onclick=\"flipCamera{{inputF}}("+ newDevice +");\" id=\"flipCamera{{input}}id\">Flip</button>");
        });
    }



    Html5Qrcode.getCameras().then(function (cameras) {
            if (cameras.length > 0) {
                if (cameras.length == 1) {
                    var cameraId = cameras[0].id;
                }else{
$("#Buttons{{input}}").append("<button type=\"button\" class=\"btn btn-primary\" onclick=\"flipCamera{{inputF}}(1);\" id=\"flipCamera{{input}}id\">Flip</button>");
                    var cameraId = cameras[1].id;
                }

                var html5QrcodeScanner{{inputF}} = new Html5Qrcode("reader{{input}}");
                html5QrcodeScanner{{inputF}}.start(
                    cameraId,
                    {
                        fps: 10,
                        qrbox: 250,
                        aspectRatio: 1,
                    },
                    onScanSuccess{{inputF}},
                );

                globalThis.html5QrcodeScanner{{inputF}} = html5QrcodeScanner{{inputF}}
                globalThis.cameras = cameras

            }else{
                var cameraId = null;
            }
        })
        .catch(function (err) {
            console.log(err);
            $("#scanner{{input}}").append("<p>No cameras found connect one and refresh</p>");
        });
    
</script>
