<!-- ____________________________Search Bar______________________________________ -->

<div class="d-flex p-2">
    <div class="input-group">
        <input id={{searchFieldName}} class="form-control" name="search" type="search" qtype="search" placeholder="Search" hx-get="./search" hx-trigger="load, keyup changed delay:500ms, refresh" hx-target="#results">
        <div id="QRButtonDiv{{searchFieldName}}">

            <button id="QRButton{{searchFieldName}}" class="btn btn-primary" type="button" hx-trigger="click, refresh" hx-get="./scanner/{{searchFieldName}}/on">QR</button>
        </div>
    </div>
</div>

<div id="scannerDiv{{searchFieldName}}">
</div>

<!-- ____________________________Result Table______________________________________ -->

<table class="table" id="resultsTable">
    <thead>
        <tr>
            <th scope="col">
                <input class="form-check-input" type="checkbox" value="" id="checkAll" onclick="eventCheckBox()">
            </th>
        {% if type == "article" %}
            <th scope="col">Name</th>

        {% elif type == "location" %}
            <th scope="col">Name</th>

        {% elif type == "storage" %}
            <th scope="col">Name</th>

        {% elif type == "code" %}
            <th scope="col">Code</th>
            <th scope="col">used</th>

        {% else %}
            <th scope="col">Name</th>

        {% endif %}
        {% if type != "code" %}
            <th scope="col">Edit</th>
        {% endif %}
        </tr>
    </thead>

<tbody id="results">
</tbody>

</table>
