
<div id="{{toastId}}" class="toast" data-bs-delay="5000" role="{{toastType}}" aria-live="polite" aria-atomic="true">
    <div class="toast-header">
        <strong class="me-auto">{{toastName}}</strong>
        <small class="text-muted toastTimeCounter"></small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
        <p>
        {{toastText}}
        </p>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#{{toastId}}').toast('show');
    })
</script>
