<form method="POST" action="./add" id="addForm">
    {% csrf_token %}

    {% for p_form in form %}
        {% for field in p_form %}

            <div class="form-floating mb-2">
                <div class="input-group">
                <span class="input-group-text">{{ field.label }}</span>

                {{ field.error }}
                {{ field }}


                {% if field.name == "stored" or field.name == "code"%}
                <div id="QRButtonDiv{{field.name}}">
                <button id="QRButton{{field.name}}" class="btn btn-primary" type="button" hx-get="./scanner/{{field.name}}/on" hx-trigger="click, refresh">QR</button>
                </div>
                </div>
            </div>

            <div id="scannerDiv{{field.name}}">
            </div>
                {% else %}
                </div>
                </div>
                {% endif %}

        {% endfor %}
    {% endfor %}
    <button class="btn btn-success" hx-trigger="click" hx-post="./add" hx-swap="afterbegin" hx-target=".toast-container" >Add</button>
</form>

<script>
    $("#id_parent").select2({
        theme: "bootstrap-5",
        dropdownParent: $("#modal{{modalId}}"),
        width: "100%",
        placeholder: "Select parent"
    });
</script>
