{% extends "hub/header.html" %}

{% block content %}

{% include "hub/modules/search.html" %}

<div class="fixed-bottom  m-3">
    {% include "hub/modules/modalButton.html" with modalId="Add" buttonSymbol=" + " buttonColor="success" %}
    {% include "hub/modules/modalButton.html" with modalId="Del" buttonSymbol=" - " buttonColor="danger" %}
</div>

{% include "hub/modules/formModal.html" with modalId="Add"%}
{% include "hub/modules/deleteModal.html" with modalId="Del" %}
{% include "hub/modules/deleteModal.html" with modalId="single" %}

{% endblock %}
