

<div style="width:100%;padding-bottom:100%" id="reader{{input}}"></div>

<script>

    function onScanSuccess{{input}}(decodedText, decodedResult) {
        if(decodedResult.result.format.formatName == "QR_CODE"){
            {% if move == 'true' %}
            lResults(decodedText);
            console.log(decodedText);
            $("#{{input}}").val(decodedText);
            {% else %}
            $("#{{input}}").val(decodedText);
            html5QrcodeScanner{{input}}.pause();
            html5QrcodeScanner{{input}}.clear();
            htmx.trigger("#{{input}}", "refresh", {});
            htmx.trigger("#QRButton{{input}}", "refresh", {});
            {% endif %}

        }
    }

    var html5QrcodeScanner{{input}} = new Html5QrcodeScanner("reader{{input}}", { fps: 10, qrbox: 250});
    html5QrcodeScanner{{input}}.render(onScanSuccess{{input}});
    
</script>
