

<!-- ____________________________Search Bar______________________________________ -->

<div class="d-flex p-2">
    <div class="input-group">
        <input id={{searchFieldName}} placeholder="Suche" class="form-control">
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#switchQRSearch" aria-expanded="false" aria-controls="switchQRSearch">
      QR
  </button>

    </div>
</div>
        <div class="collapse" id="switchQRSearch">
            {% include "hub/modules/scanner.html" with input=searchFieldName %}
        </div>

<!-- ____________________________Result Table______________________________________ -->

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <input class="form-check-input" type="checkbox" value="" id="checkAll" onclick="eventCheckBox()">
            </th>
        {% if type == "part" %}
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Anzahl</th>
        {% elif type == "location" %}
            <th scope="col">Name</th>

        {% elif type == "shelf" %}
            <th scope="col">Code</th>

        {% else %}
            <th scope="col">Name</th>
            <th scope="col">Code</th>

        {% endif %}
            <th scope="col">Edit</th>
            <th scope="col">View</th>
        </tr>
    </thead>

<tbody id="results">
</tbody>

</table>

<!-- ____________________________SCRIPTS______________________________________ -->

<script>


        function eventCheckBox(){
            if ($("#checkAll").prop("checked")){
                $(".checkboxlist").prop("checked", true)
            }else{
                $(".checkboxlist").prop("checked", false)
            }
        }

        function lResults(search){
            console.log(search)
            if(search == ""){
                search = "NONE";
            }
            $.get("/module/search/results?type={{ type }}&ptype={{name}}&search="+search, function(data){
                $("#results").html(data)
            });
        }

        $("#results").load(lResults(""));

        $("#{{searchFieldName}}").on("input", function(){
            lResults($('#{{searchFieldName}}').val())
        });
</script>
