

<!-- ____________________________Search Bar______________________________________ -->

<div class="d-flex p-2">
    <div class="input-group">
        <input id="sTerm" placeholder="Suche" onChange="lResults($('#sTerm').val());" class="form-control">
    </div>
</div>

<!-- ____________________________Result Table______________________________________ -->

<table class="table">
    <thead>
        <tr>
            <th scope="col">
                <input class="form-check-input" type="checkbox" value="" id="checkAll" onclick="eventCheckBox()">
            </th>
        {% if type == "part" %}
            <th scope="col">Name</th>
            <th scope="col">Code</th>
            <th scope="col">Anzahl</th>
        {% elif type == "location" %}
            <th scope="col">Name</th>

        {% elif type == "shelf" %}
            <th scope="col">Code</th>

        {% else %}
            <th scope="col">Name</th>
            <th scope="col">Code</th>

        {% endif %}
        </tr>
    </thead>

<tbody id="results">
</tbody>

</table>

<!-- ____________________________SCRIPTS______________________________________ -->

<script>

    function eventCheckBox(){
        if ($("#checkAll").prop("checked")){
            $(".checkboxlist").prop("checked", true)
        }else{
            $(".checkboxlist").prop("checked", false)
        }
    }

    function lResults(search){
        if(search == ""){
            search = "NONE";
        }
        $.get("/module/search/results?type={{ type }}&search="+search, function(data){
            $("#results").html(data)
        });
    }

    $("#results").load(lResults(""));

</script>
